/* general reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.d-flex{
    display: flex;
}

/* container-100vh */
.container-100vh{
    height: 100vh;
    background-color: rgb(224, 176, 192);
    flex-direction: column;
}


/* sidebar */

/* main-content */
.main-content{
    background-color: rgba(241, 206, 206, 0.7);
    flex-grow: 1;
}

/* aside */
aside{
    background-color: rgba(219, 144, 3, 0.5);
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
}

.sidebar-top{
flex-grow: 1;
}

.sidebar-bottom{
    height: 50px;
    background-color: red;
}

/* main */
.main{
    display: flex;
    flex-direction: column;
    
}

.main-top{
    display: flex;
    background-color: purple;
    height: 100px;
    width: calc(100vw - 200px);
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    justify-content: flex-end;
    padding-left: 150px;
}

.btn-upgrade{
    height: 30px;
    border: 1px solid white;
    padding: 10px 30px;
    justify-content: center;
    align-self: center;
    line-height: 10px;
    border-radius: 5px;
    margin-right: 100px;
}

.btn-upgrade a{
    color: white;
}

.main-bottom{
    flex-grow: 1;
    z-index: 0;
    padding-top: 110px;
    background-color: #141921;
    width: calc(100vw - 200px);
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.list-titles ul{
display: flex;
justify-content: center;
list-style: none;
}

.list-titles ul a{
    margin: 0 10px;
}

.container-boxes{
    display: flex;
    padding-left: 10px;
}
.boxes-cover{
    background-color: red;
    width: calc(100% / 6);
    /* margin: 0 10px; */
    padding: 0 10px;
    border: 1px solid black;

}

.boxes-cover img{
    max-width: 100%;
    max-height: 100%;
}

.description h2 {
    margin: 20px 0;
    color: white;
    padding-left: 10px;
}


/* footer */
footer{
    background-color: rgba(137, 231, 94, 0.5);
    flex-basis: 150px;
}