/* general reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
/* utility */
.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.d-flex{
    display: flex;
}

/* container-100vh */
.container-100vh{
    height: 100vh;
    background-color: rgb(224, 176, 192);
    flex-direction: column;
}


/* sidebar */

/* main-content */
.main-content{
    background-color: rgba(241, 206, 206, 0.7);
    flex-grow: 1;
}

/* aside */
aside{
    background-color: rgba(219, 144, 3, 0.5);
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    aside{
        
        flex-basis: 50px;
        
    }
}

.sidebar-top{
flex-grow: 1;
background-image: linear-gradient(turquoise, black);
/* opacity: 0.7; */
}

.sidebar-top img {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 120px;
    opacity: 0.8;
}

.sidebar-top ul {
    margin-left: 20px;
    margin-top: 30px;
    list-style: none;
}

.sidebar-top ul li  {
    margin-top: 10px;
    font-size: 20px;
}

.sidebar-top ul li a i {
    padding-right: 5px;
    color: white;
    
}

.sidebar-top ul li a{
    color: white;
    opacity: 0.8;
}

.sidebar-top ul li:hover a{
    color: #14f701c4;
}

.sidebar-bottom{
    height: 100px;
    background-image: linear-gradient(turquoise, black);
}

.sidebar-top h2{
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    opacity: 0.8;
}

.crea-playlist{
    position: relative;
    line-height: 30px;
    padding-left: 50px;
    width: 100%;
    margin-top: 10px;
    color: #545454;
}

.crea-playlist::before{
    left: 15px;
    content: '+';
    position: absolute;
    line-height: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    width: 30px;
    height: 30px;
    background-color: #999;
}

.nome-playlist ul li a{
    font-size: 14px;
    line-height: 0.5;
}

/* sidebar-bottom */
.sidebar-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.sidebar-bottom h3{
    margin-top: 10px;
    font-size: 25px;
    color: white;
}

.sidebar-bottom::before{
    content: '';
    display: block;
    border-bottom: 1px solid white;
    width: 140px;
    height: 10px;
    color: red;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
    
}

/* main */
.main{
    display: flex;
    flex-direction: column;
    
}

.main-top{
    display: flex;
    background-color: rgba(14, 121, 10, 0.7);
    height: 100px;
    width: calc(100vw - 200px);
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    justify-content: flex-end;
    padding-left: 150px;
}

@media screen and (max-width: 768px) {
    .main-top{
        
        width: calc(100vw - 50px);
    }
}

@media screen and (max-width: 768px) {
    .main-bottom.pos-abs{
        
        width: calc(100vw - 50px);
    }
}

.btn-upgrade{
    height: 30px;
    border: 1px solid white;
    padding: 10px 30px;
    justify-content: center;
    align-self: center;
    line-height: 10px;
    border-radius: 5px;
    margin-right: 100px;
}

.btn-upgrade a{
    color: white;
}

.main-bottom{
    
    flex-grow: 1;
    z-index: 0;
    padding-top: 110px;
   background-image: linear-gradient(turquoise, black);
    width: calc(100vw - 200px);
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.list-titles ul{
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
}

.list-titles ul a{
    margin: 0 10px;
}

.list-titles ul li:hover a{
    color: #14f701c4;
}

.container-boxes{
    display: flex;
    padding-left: 10px;
    flex-wrap: wrap;
}
.boxes-cover{
    /* background-color: red; */
    width: calc(100% / 2);
    /* margin: 0 10px; */
    padding: 0 10px;
    /* border: 1px solid black; */
    position: relative;
}

.overlay-cover{
    width: 93%;
    height: 99%;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 10px;
    opacity: 0;
    color: white;
    font-size: 30px;
    
}
.overlay-cover:hover{
    opacity: 0.5;
    cursor: pointer;
}

.icon-layover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40%;
}

.icon-layover i{
    padding: 10px;
}

.fa-play-circle{
    font-size: 70px;
    position: relative;
    bottom: 30px;
}

@media screen and (min-width: 800px) {
    .boxes-cover{
        flex-basis: calc(100% / 4);       
    }
}

@media screen and (min-width: 1023px) {
    .boxes-cover{
        flex-basis: calc(100% / 6);       
    }
}


.boxes-cover img{
    max-width: 100%;
    max-height: 100%;
}

.description h2 {
    margin: 20px 0;
    color: white;
    padding-left: 10px;
}


/* footer */
footer{
    background-color: #444343;
    background-image: linear-gradient(turquoise, black);
    flex-basis: 150px;
}